<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found - AI Exam Marker</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100 h-screen flex flex-col items-center justify-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-red-500 mb-2">404 - Page Not Found</h1>
      <p class="text-gray-600 mb-4">
        Oops! It seems like the page you are looking for in AI Exam Marker is
        not available or does not exist.
      </p>
      <p class="text-gray-600 mb-4">
        You requested: <span class="font-semibold">{{ request.path }}</span>
      </p>
      <a href="/" class="text-blue-500 hover:underline"
        >Go back to the home page</a
      >
    </div>
  </body>
</html>
